<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://zenbit.dk/SmartZensor" version="1.0.0" viewmodes="maximized">
    <tizen:application id="415knitg9j.SmartZensor" package="415knitg9j" required_version="4.0"/>
    <author href="https://zenbit.dk/" email="andreas@famhassing.dk">Andreas Hassing</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Smart Zensor</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:profile name="wearable"/>
</widget>
